# Connection to databases


### Oracle

In [1]:
import cx_Oracle

# Connection parameters
host = "vsgate-s1.dei.isep.ipp.pt"
port = "10434"
sid = "xe"

# Construct DSN using SID
dsn_tns = cx_Oracle.makedsn(host, port, sid=sid)

# Credentials
username = "C##e_commerce"  # Replace with your username
password = "qKCH1brdHfWtMFadWdbzWeMJS3rHDJ"  # Replace with your password

try:
    # Connect to the database
    connection = cx_Oracle.connect(user=username, password=password, dsn=dsn_tns)
    print("Connection successful!")

    # Perform database operations here

    # Close the connection
    connection.close()

except cx_Oracle.DatabaseError as e:
    print(f"Database connection error: {e}")

Connection successful!

In [2]:
connection = cx_Oracle.connect(user="C##e_commerce", password="qKCH1brdHfWtMFadWdbzWeMJS3rHDJ", dsn=dsn_tns)
cursor = connection.cursor()

Index

In [3]:
idx_items_ids = """CREATE INDEX idx_items_ids ON SupplierItems(Item_ID)"""
# execute the query
cursor.execute(idx_items_ids)

idx_supplier_ids = """ CREATE INDEX idx_suppliers_ids ON SupplierItems(Supplier_ID)"""
# execute the query
cursor.execute(idx_supplier_ids)

### Mongo DB

In [4]:
from pymongo import MongoClient
from datetime import datetime, timedelta
from bson.objectid import ObjectId
import random

In [5]:
# String de conexão
connection_string = "mongodb://ecommerce_user:secure_password@vsgate-s1.dei.isep.ipp.pt:10911/EcommerceDB"

# Conectar ao servidor MongoDB
client = MongoClient(connection_string)

# Acessar o banco de dados
db = client["EcommerceDB"]

# Listar coleções para testar
print(db.list_collection_names())

['Carts', 'Orders', 'BrowsingHistory', 'Products', 'Ratings']

# Requirements

In [6]:
from datetime import datetime, timedelta

US1 no query

US2

In [7]:
#only use mongodb
def product_info(product_id):
    result_US2 = db.Products.find({"_id": product_id})

    return list(result_US2)

In [13]:
product_info(ObjectId('6758c1e5c1ac96b297cc26c6'))

[{'_id': ObjectId('6758c1e5c1ac96b297cc26c6'),
  'item_id': 1,
  'product_warehouse_id': 1,
  'product_zone_id': 2,
  'quantity_in_stock': 27,
  'minimum_stock': 25,
  'price': 36.53,
  'category': 'underwear',
  'subcategory': 'Panties',
  'discount': 0.21,
  'technical_info': [{'Detail': 'Seamless design'},
   {'Feature': 'Soft elastic band'}],
  'physical_info': [{'Color': 'Black'}, {'Material': 'Wool'}],
  'price_history': [{'Price': 28.57,
    'ChangedAt': '2024-10-14',
    'Reason': 'Seasonal discount'}],
  'image': 'a',
  'Product_Aisle_ID': 1}]

US3 no query

US4 doesn't exist

US5

In [22]:
#only use mongodb
def status_order(order_id):
    result_US5 = db.Orders.aggregate([
        {"$match": {"_id": order_id}},
        {"$unwind": "$Shipping_Status"},  
        {"$sort": {"Shipping_Status.Timestamp": -1}}, 
        {"$limit": 1}, 
        {"$project": {"Shipping_Status.Status": 1, "_id": 0}} 
    ])

    return list(result_US5)

In [23]:
status_order(1020241212070854)

[{'Shipping_Status': {'Status': 'Preparing for Shipping'}}]

US6

In [45]:
def suppliers_best_selling_products():

    #simulation of mv
    db.Orders.aggregate([
        { "$unwind": "$OrderItems" },
        { 
            "$group": {  
                "_id": "$OrderItems.Item_ID", 
                "total_quantity": { "$sum": "$OrderItems.Quantity" }
            }
        },
        
        { "$sort": { "total_quantity": -1 } }, 
        { "$limit": 10 },

        { "$lookup": {
            "from": "Products",
            "localField": "_id",
            "foreignField": "Item_ID",
            "as": "product_details"
            }
        },

        {"$project": {
            "_id": 0,
            "item_id": "$_id",
            "total_quantity": 1
            }
        },

        { "$out": "top_selling_products" } #save in a new collection
    ])

    top_items = list(db.top_selling_products.find({},{"_id":0, "item_id":1}))
    top_item_ids = [str(item["item_id"]) for item in top_items if item.get("item_id") is not None]


    if top_item_ids and top_items[0] is not None:
        item_ids_str = ",".join(top_item_ids)
        
        oracle_query_US6 = f"""
        select s.Name 
        from Suppliers s 
        join SupplierItems si on s.Supplier_ID = si.Supplier_ID
        where si.Item_ID in ({item_ids_str})"""

        # execute the query
        cursor.execute(oracle_query_US6) 
        result_US6 = cursor.fetchall()

        return result_US6
    else:
        return('No top selling products found')

In [46]:
suppliers_best_selling_products()

[('Supplier4',),
 ('Supplier4',),
 ('Supplier8',),
 ('Supplier16',),
 ('Supplier19',)]

US7 is the same as US6

US8

In [57]:
def most_rated_items():
    #simulation of mv

    db.Ratings.aggregate([
        {"$group": {
            "_id": "$item_id",
            "vote_count": {"$sum": 1} 
        }},
        
        {"$sort": {"vote_count": -1}},
        {"$limit": 10},

        {"$lookup": { 
            "from": "Products", 
            "localField": "_id", 
            "foreignField": "Item_ID", 
            "as": "product_details"
            }
        },

        {"$project": {
            "_id": 0,
            "item_id": "$_id",
            "vote_count": 1
            }
        },
        
        { "$out": "most_rated_products" } #save in a new collection
    ])

    most_rated_items = list(db.most_rated_products.find({},{"_id":0, "item_id":1, "vote_count":1}))
    most_rated_item_ids = [item["item_id"] for item in most_rated_items if item.get("item_id") is not None]

    if most_rated_item_ids:
        items_id_str = ', '.join([str(i) for i in most_rated_item_ids])

        item_votes = {item["item_id"]: item["vote_count"] for item in most_rated_items}

        oracle_query_US8 = f"""
        select 
            i.Item_ID,
            i.Name as Item_Name,
            s.Name as Supplier_Name
        from Items i
        join SupplierItems si on i.Item_ID = si.Item_ID
        join Suppliers s on si.Supplier_ID = s.Supplier_ID
        where i.Item_ID in ({items_id_str})
        """

        # execute the query
        cursor.execute(oracle_query_US8)
        result_query = cursor.fetchall()

        result_US8 = [
            {
                "Item_ID": row[0],
                "Item_Name": row[1],
                "Supplier_Name": row[2],
                "Vote_Count": item_votes.get(row[0], 0)
            }
            for row in result_query
        ]

        return result_US8

    else:
        return('No rated products found')

In [58]:
most_rated_items()

[{'Item_ID': 5,
  'Item_Name': 'Cycling item',
  'Supplier_Name': 'Supplier1',
  'Vote_Count': 1},
 {'Item_ID': 5,
  'Item_Name': 'Cycling item',
  'Supplier_Name': 'Supplier14',
  'Vote_Count': 1},
 {'Item_ID': 16,
  'Item_Name': 'Hoops item',
  'Supplier_Name': 'Supplier2',
  'Vote_Count': 1},
 {'Item_ID': 16,
  'Item_Name': 'Hoops item',
  'Supplier_Name': 'Supplier19',
  'Vote_Count': 1},
 {'Item_ID': 51,
  'Item_Name': 'Regular Sock item',
  'Supplier_Name': 'Supplier6',
  'Vote_Count': 1},
 {'Item_ID': 51,
  'Item_Name': 'Regular Sock item',
  'Supplier_Name': 'Supplier11',
  'Vote_Count': 1},
 {'Item_ID': 62,
  'Item_Name': 'Jacket item',
  'Supplier_Name': 'Supplier7',
  'Vote_Count': 1},
 {'Item_ID': 75,
  'Item_Name': 'Jewelry item',
  'Supplier_Name': 'Supplier8',
  'Vote_Count': 1}]

US9

In [81]:
def products_low_stock():
        
    #simulation of mv

    db.Products.aggregate([
        {"$match": {
            "quantity_in_stock": { "$lte": "$minimum_stock" }
        }
        },
        {"$lookup": { 
            "from": "Products",     
            "localField": "_id", 
            "foreignField": "Item_ID", 
            "as": "product_details"
            }
        },

        {"$project": {
            "_id": 0,
            "item_id": "$_id",
            "quantity_in_stock": 1,
            "minimum_stock": 1
            }
        },
        
        { "$out": "products_below_minimum_stock" } #save in a new collection
    ])

    
    products_below_stock = list(db.products_below_minimum_stock.find({}, {
        "item_id": 1,
        "quantity_in_stock": 1,
        "minimum_stock": 1,
        "_id": 0
    }))


    # Intentar eliminar la tabla temporal si ya existe
    try:
        cursor.execute("""
            drop table Products_Below_Stock_Temp
        """)
        print("Tabla eliminada.")
    except Exception as e:
        print("No se pudo eliminar la tabla temporal (probablemente no existe). Error:", e)

    # Crear la tabla temporal
    cursor.execute("""
        create global temporary table Products_Below_Stock_Temp (
            item_id int,
            quantity_in_stock int,
            minimum_stock int
        ) on commit delete rows
    """)
    print("Tabla creada.")


    for product in products_below_stock:
        cursor.execute("""
        insert into Products_Below_Stock_Temp (item_id, quantity_in_stock, minimum_stock)
        values (:1, :2, :3)
        """, (product['item_id'], product['quantity_in_stock'], product['minimum_stock']))

    cursor.connection.commit()


    oracle_query_US9 = f"""
    select 
        i.Description,	
        i.Name AS Item_Name, 
        i.Brand, 
        p.quantity_in_stock, 
        p.minimum_stock, 
        s.Name as Supplier_Name
    from Items i 
    join SupplierItems si on i.Item_ID = si.Item_ID 
    join Suppliers s on si.Supplier_ID = s.Supplier_ID
    join Products_Below_Stock_Temp p on i.Item_ID = p.Item_ID 
    where i.Item_ID in (select item_id from Products_Below_Stock_Temp)
    """

    #execute the query
    cursor.execute(oracle_query_US9)
    result_US9 = cursor.fetchall()
    if len(result_US9) == 0:
        return ('No products below minimun stock')

    else:
        return result_US9

In [82]:
products_low_stock()

Tabla eliminada.
Tabla creada.

'No products below minimun stock'

US10

In [83]:
def aisle_info():
    greater_discount = list(db.Orders.aggregate([
    {"$match": {"Discount": {"$gt": 0.2}}},

    {"$unwind": "$OrderItems"},

    {
    "$group": {
        "_id": "$OrderItems.FK_Item_ID",
        "total_orders": {"$sum": 1} 
    }
    },

    {"$sort": {"total_orders": -1}}
    ]))


    greater_discount_ids = [item["_id"] for item in greater_discount]

    greater_discount_aisles = list(db.Products.find({"Product_ID": {"$in": greater_discount_ids}}, {'_id':1, 'Product_Aisle_ID':1}))

    aisles_id = [item["Product_Aisle_ID"] for item in greater_discount_aisles]
    aisles_id_str = ', '.join([str(i) for i in aisles_id])
    
    oracle_query_US10 = f"""
    select 
        a.Aisle_ID,
        a.Capacity,
        a.Warehouse_ID,
        a.Zone_ID
    from Aisles a
    where a.Aisle_ID in ({aisles_id_str})
    """

    # execute the query
    cursor.execute(oracle_query_US10)
    result_US10= cursor.fetchall()

    return result_US10

In [84]:
aisle_info()

[(1, 417, 1, 1), (2, 417, 1, 1), (3, 416, 1, 1)]

US11

In [91]:
def order_location(date_time):
    date_and_time = datetime.strptime(date_time, "%Y-%m-%dT%H:%M:%S.%f%z")

    result_US11 = db.Orders.find({
        "Purchase_date" : date_and_time
    }, {
        "Customer_ID": 1,
        "Purchase_date": 1,
        "Shipping_Status.Location" : 1
    })

    return list(result_US11)

In [92]:
order_location('2024-12-12T07:08:54.118+00:00')

[{'_id': 1020241212070854,
  'Customer_ID': 10,
  'Purchase_date': datetime.datetime(2024, 12, 12, 7, 8, 54, 118000),
  'Shipping_Status': [{}, {}, {}]}]

US12

In [95]:
def route(order_id):
    result_US12 = db.Orders.aggregate([
        {
            "$match": { "_id": order_id}
        },         
        {
            "$unwind": "$Shipping_Status" 
        },
        {
            "$sort": { "Shipping_Status.Timestamp": 1 } 
        },
        {
            "$project": {
                "Order_ID": 1,
                "Shipping_Status.Location": 1,
            }
        }
    ])


    return list(result_US12)

In [96]:
route(1020241212070854)

[{'_id': 1020241212070854, 'Shipping_Status': {}},
 {'_id': 1020241212070854, 'Shipping_Status': {}},
 {'_id': 1020241212070854, 'Shipping_Status': {}}]

US13

In [103]:
def highest_vouchers():
    pipeline_US13 = [
        {"$match": {"Voucher_code": {"$exists": True, "$ne": None}}},
        {"$group": {  
            "_id": "$Customer_ID",  
            "total_count_vouchers": {"$sum": 1}  
        }},
        {"$sort": {"total_count_vouchers": -1}},  
        {
            "$limit": 1
        }

    ]

    top_voucher_customer = list(db.Orders.aggregate(pipeline_US13))
    if top_voucher_customer:
        customer_id = top_voucher_customer[0]['_id']

        result_US13 = db.Orders.find_one({"Customer_ID" : customer_id},{"OrderItems" : 1, "_id" : 0})

        return result_US13

    else:
        print('No customer found with vouchers')

In [104]:
highest_vouchers()

{'OrderItems': [{'Item_ID': 40, 'Quantity': 2, 'Price': 24.51},
  {'Item_ID': 34, 'Quantity': 1, 'Price': 16.46},
  {'Item_ID': 72, 'Quantity': 3, 'Price': 38.53}]}

US14

In [105]:
def us14():
    start_date = datetime(2024, 6, 1)
    end_date = datetime(2024, 8, 17, 23, 59, 59)
    result_US14 = list(db.Orders.find(
        {
            "Purchase_date":{
                "$gte": start_date,
                "$lte": end_date
            },
            "Preparation_time": {"$lt":10},
            "$expr": {
                "$gt": [
                    { "$subtract": ["$Delivery_date", "$Purchase_date"] },
                    10 * 24 * 60 * 60 * 1000          #10 days in milliseconds, because Mongo processes dates in milliseconds
                ]}
        }
    ))

    return result_US14

In [106]:
us14()

[]

US15

US16 no query

US17

In [113]:
#we can use the aggregation created for the US6, top_selling_products

def us17():
  current_date = datetime.now()

  result_us17 = db.top_selling_products.aggregate([
    {
      "$match": {
        "Purchase_date": {"$gte": current_date - timedelta(days=6*30)}
      }
    },
    {
      "$project": {
        "item_id": 1, 
        "total_quantity": 1,
        "year": { "$year": "$Purchase_date" }, 
        "month": { "$month": "$Purchase_date" } 
      }
    },
    {
      "$group": {
        "_id": { "year": "$year", "month": "$month", "item_id": "$item_id" },
        "total_quantity": { "$sum": "$total_quantity" }
      }
    },
    {
      "$sort": { "_id.year": 1, "_id.month": 1, "total_quantity": -1 }
    },
    {
      "$group": {
        "_id": { "year": "$_id.year", "month": "$_id.month" },
        "topProducts": { "$push": { "item_id": "$_id.item_id", "total_quantity": "$total_quantity" } }
      }
    },
    {
      "$project": {
        "_id": 1,
        "topProducts": { "$slice": ["$topProducts", 5] }
      }
    },
    {
      "$sort": { "_id.year": 1, "_id.month": 1 }
    }
  ])

  return list(result_us17)

In [114]:
us17()

[]

US18

In [127]:
def site_visits():
        
    current_year = datetime.now().year

    pipeline = [
        {
            "$match": {
                "$expr": {
                    "$eq": [{ "$year": "$visit_date" }, current_year] 
                }
            }
        },

        {
            "$project": {
                "visit_date": 1,
                "visit_day": { "$dayOfYear": "$visit_date" }, 
                "visit_week": { "$isoWeek": "$visit_date" }, 
            }
        },

        {
            "$group": {
                "_id": "$visit_day",  
                "visits_per_day": { "$sum": 1 }, 
            }
        },

        {
            "$sort": { "_id": 1 },
        },

        {
            "$group": {
                "_id": "$visit_week",  
                "visits_per_week": { "$sum": "$visits_per_day" },  
            }
        },

        {
            "$sort": { "_id": 1 },
        },
    ]

    result_us18 = list(db.BrowsingHistory.aggregate(pipeline))

    return result_us18

In [128]:
site_visits()

2024

[]

US19

In [120]:
def US19():
  most_popular_pages = db.BrowsingHistory.aggregate([
    {
      "$group": {
        "_id": "$page",
        "visit_count": { "$sum": 1 },
        "customer_ids": { "$addToSet": "$Customer_ID" }
      }
    },
    {
      "$sort": { "visit_count": -1 }
    },
    {
      "$limit": 10
    }
  ])


  customer_ids = []
  for page in most_popular_pages:
    customer_ids.extend(page["customer_ids"])
  customer_ids_str = ', '.join([str(i) for i in customer_ids])


  oracle_query_US19 = f""""
    select 
      c.Country,
      c.City,
      c.Adress
    from Customers c
    where c.Customer_ID in ({customer_ids_str})
    """
  cursor.execute(oracle_query_US19)
  geographical_location = cursor.fetchall()
  
  result_US19 = {
          "most_popular_pages": list(most_popular_pages),  
          "geographical_location": geographical_location
      }

  return list(result_US19)

In [122]:
US19

US20

In [123]:
def most_help_button_pages():
  most_help_button_pages = db.browsinghistory.aggregate([
    {
      "$match": { "Help_button_clicked": True }
    },
    {
      "$group": {
        "_id": "$page",
        "help_clicks": {"$sum": 1 }
      }
    },
    {
      "$sort": { "help_clicks": -1 }
    },
    {
      "$limit": 10
    }
  ])

  return list(most_help_button_pages)

In [124]:
most_help_button_pages()

[]